<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsnomcliSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://200.62.147.155:8080/bonus_des/servlet/awsnomcli"
                binding="basicHttpBinding" bindingConfiguration="wsnomcliSoapBinding"
                contract="WsBonusNombreCliente.wsnomcliSoapPort" name="wsnomcliSoapPort" />
        </client>
    </system.serviceModel>
</configuration>